.selected {
	border: 2px solid black;
	opacity: 0.75;
}


/* Class calls animation defined below by name */
.spin-murray {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

/* Animation definition */
@keyframes spin {
  100%
    {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
    }
}
